#sidebar_root #sidebar_root_ul{
	list-style:none;
	margin-top: 30px;
	display:block;
	padding-left: 0;
}

#sidebar_root li{
	padding:5px;
	border-left: 5px solid white;
}

#sidebar_root span{
	margin-right: 10px;
}

#sidebar_root .root_nav-link{
	text-decoration: none;
	color:black;
}

#sidebar_root .root_nav-item:hover{
	color:white;
	border-left: 5px solid #ef5350;
	background-color: #ef5350;
	cursor:pointer;
}

#sidebar_root .root_nav-item:hover .root_nav-link{
	color:white;
}

#sidebar_root .act{
	color:#ef5350;
	border-left: 5px solid #ef5350;
}

#sidebar_root .act .root_nav-link{
	color:#ef5350;
}

#main_nav ul li{
	display:inline;
	margin:20px;
}

#main_nav ul{
	list-style:none;
}

#main_nav button{
	margin-top: 10px;
}