#work_nav button{
	margin-right:5px;
}

.dropdown-menu{
	padding:0;
}

.dropdown-menu li{
	margin:0;
}

#grid_container .title{
	font-weight:bold;
	color:black;
}

#grid_container .author{
	color:green;
	margin-bottom: 0;
	font-size: 12px;
}

#grid_container .likes, #grid_container .comments{
	margin-bottom: 0;
	font-size: 12px;
	color:black;
}

#grid_container ul{
	list-style:none;
}

#grid_container li{
	display:inline;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

#grid_container ul li:first-child{
	border-right:1px black solid;
	padding-right: 10px;
}

.col-xs-2{
	padding:0;
}

.btn-primary{
	margin-left: 20px;
}

#work_nav input{
	width: 90%;
}

#list_container thead{
	color:black;
	font-weight:bold;
}

#list_container thead tr{
	border-bottom: 2px solid #d9d9d9;
}

#list_container tbody tr{
	color:black;
}

h4{
	text-align: center;
	color:black;
	font-weight:bold;
	padding-top:20px;
}

#delete_p{
	color:black;
}

#dropmenu_ul li:hover{
	cursor:pointer;
}

#editdelete:hover{
	cursor:pointer;
}

.list_td:hover{
	cursor:pointer;
}