<!--don't forget to add modal.js file into index.html-->
    <div class="col-xs-2">
            <button class="btn btn-danger" aria-haspopup="true" aria-expanded="false" data-toggle='modal' data-target ='#addDialog'>Add Item</button>

        <!--Modal-->
		<div class='modal fade' id='addDialog' role='dialog'>
			<div class='modal-dialog modal-lg'> <!--modal size, proper width and margin of the modal-->
				<div class='modal-content'>  <!--border,background-coor, etc.-->
					<div class='modal-header'>
          				<h4 class="modal-title">Add item</h4>
						
				    </div>
				    <div class='modal-body'>
				    	<form>
				    		<input type="" name="" placeholder="Title">
				    		<input type="" name="" placeholder='Author'>
				    		<input type="" name="" placeholder="Like">
				    		<input type="" name="" placeholder='Comment'>
				    	</form>
				    </div>
				    <div class='modal-footer'>
				    	<button type='button' class='btn btn-default'>submit</button>
				    	<button type='button' class='btn btn-default' data-dismiss='modal'>cancle</button>
				    </div>
				</div>
			</div>
		</div>
	</div>
			