            <ul class="pull-right">
                <li><a ui-sref="#">Edit</a></li>
                <li><a ui-sref="#">Delete
					<div class='modal fade' id='confimrBox' role='dialog'>
						<div class='modal fade' id='confirmBox' role='dialog'>
							<div class='modal-dialog modal-lg'> <!--modal size, proper width and margin of the modal-->
								<div class='modal-content'>  <!--border,background-coor, etc.-->
									<div class='modal-header'>
	          							<h4 class="modal-title">Delete item?</h4>
							
					    			</div>
						    		<div class='modal-body'>
						    			<p>
						    				This will permanently delete the item from the table and the action cannot be reversed. If you are sure, please confirm with the appropriate action
						    			</p>
						    		</div>
						    		<div class='modal-footer'>
						    			<button type='button' class='btn btn-default'>Yes, I am sure</button>
						    			<button type='button' class='btn btn-default' data-dismiss='modal'>Cancle</button>
						    		</div>
								</div>
							</div>
						</div>
					</div>



                </a></li>

            </ul>