            <ul class="pull-right">
                <li><a ui-sref="#" data-toggle='modal' data-target ='#editDialog'>Edit
	                <div class='modal fade' id='editDialog' role='dialog'>
						<div class='modal fade' id='addDialog' role='dialog'>
							<div class='modal-dialog modal-lg'> <!--modal size, proper width and margin of the modal-->
								<div class='modal-content'>  <!--border,background-coor, etc.-->
									<div class='modal-header'>
	          							<h4 class="modal-title">Edit item</h4>
							
					    			</div>
						    		<div class='modal-body'>
						    			<form>
						    			<input type="" name="" placeholder="Journey in Central Park">
						    			<input type="" name="" placeholder='haziqhalimy'>
						    			<input type="" name="" placeholder="12,774 likes">
						    			<input type="" name="" placeholder='174 comments'>
						    			</form>
						    		</div>
						    		<div class='modal-footer'>
						    			<button type='button' class='btn btn-default'>submit</button>
						    			<button type='button' class='btn btn-default' data-dismiss='modal'>cancle</button>
						    		</div>
								</div>
							</div>
						</div>
					</div>
					</a></li>
                <li><a ui-sref="#">Delete</a></li>
            </ul>