    <div class="container-fluid" id="background-img">
    	<div id="login_col" class="col-sm-4 col-sm-offset-4 col-xs-12">
    	<ul id="login_ul">
            <li class="login_li"> <p id="login">Login </p></li>
            <li class="login_li"><input class="login_input" ng-model="username" type="text" placeholder="Username" /></li>
            <li class="login_li"><input class="login_input" ng-model="password" type="password" placeholder="Password" /></li>
            <li class="login_li"><button ng-click="submit()" type="button" class="btn btn-success"> Login </button></li>
        </ul>
        </div>
    </div>
