
<a href="#login/root"><i class="fafa-comment"></i>login1</a><br><a ui-sref="login"><i class="fafa-comment"></i>login2</a>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="../assets/images/src/app/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>Name</li>
                <li>Date</li>
            </ul>
            <button type="button" class="btn btn-default">Log Out</button>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <ul>
                <li><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span><a href="">Overview</a></li>
                <li class="selected"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="">Work</a></li>
                <li><span class="glyphicon glyphicon-tint" aria-hidden="true"></span><a href="">Producer</a></li>
                <li><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><a href="">Contact</li>
			</ul>
		</div>
		<div class="col-xs-10">
			<div ui-view>
                
            </div>
		</div>
	</div>
	</div>

