
<!-- <a href="#login/root"><i class="fafa-comment"></i>login1</a><br><a ui-sref="login"><i class="fafa-comment"></i>login2</a> -->

<nav id="main_nav" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="../assets/images/src/app/logo.png">
            </a>
        </div>
        <div ng-controller="loginStatus" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-model="name">{{name}}</li>
               <li ng-model="date">{{date | date:'shortDate' }}</li>
            </ul>
            <button type="button" class="btn btn-default pull-right">Log Out</button>
        </div>
    </div>
</nav>
<!-- <nav id="main_nav" class="navbar navbar-default">
   <div class="container-fluid">
       <div class="navbar-header">
           <a class="navbar-brand" href="#">
               <img alt="Brand" src="../assets/images/src/app/logo.png">
           </a>
       </div>
       <div ng-controller="loginStatus">
           <ul id="realtime" class="nav navbar-nav">
               <li ng-model="name">{{name}}</li></br>
               <li ng-model="date">{{date}}</li>
           </ul>
           <button type="button" class="btn btn-default pull-right" ng-click="logout()">Log Out</button>
       </div>
   </div>
</nav> -->
<div  id="sidebar" class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <ul>
                <li class="nav-item"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span><a id="overview" class="nav-link" href="">Overview</a></li>
                <li class="nav-item active"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span><a id="work" class="nav-link" href="">Work</a></li>
                <li class="nav-item"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span><a id="producer" class="nav-link" href="">Producer</a></li>
                <li class="nav-item"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><a id="contact" class="nav-link" href="">Contact</li>
			</ul>
		</div>
		<div class="col-xs-10">
			<div ui-view>
                
            </div>
		</div>
	</div>
	</div>

